name: CI/CD Workflow

on:
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write
  checks: write
  deployments: write

jobs:
  update:  # Job 1: Update from upstream
    name: Update from upstream
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6  
        with:
          ref: master
        
      - name: Run Update Action
        uses: RoundSalmon4/update@master

  modify_git_revision:  # Job 2: Modify INCLUDE_GIT_REVISION
    name: Modify Git Revision
    runs-on: ubuntu-latest
    needs: update  # This job will run after the update job
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6  
        with:
          ref: master
        
      - name: Set INCLUDE_GIT_REVISION to OFF
        run: |
          sed -i 's/set(INCLUDE_GIT_REVISION ON)/set(INCLUDE_GIT_REVISION OFF)/' cmake/Version.cmake

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: modify_git_revision  # This job will run after modifying git revision
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6  
        with:
          ref: master

      - name: Run Build Action
        uses: RoundSalmon4/build@master

  codeberg:
    name: Sync Codeberg Repo
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6  
        with:
          ref: master
        
      - name: Run Codeberg Action
        uses: RoundSalmon4/codeberg@master

  codeberg_release:
    name: Add Codeberg Release
    runs-on: ubuntu-latest
    needs: codeberg
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6  
        with:
          ref: master
        
      - name: Run Codeberg Release Action
        uses: RoundSalmon4/codeberg_release@master

  codeberg_notes:
    name: Add Codeberg Notes
    runs-on: ubuntu-latest
    needs: codeberg_release
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6  
        with:
          ref: master
        
      - name: Run Codeberg Notes Action
        uses: RoundSalmon4/codeberg_notes@master

  reset_git_revision:  # Final job to reset INCLUDE_GIT_REVISION
    name: Reset Git Revision
    runs-on: ubuntu-latest
    needs: codeberg_notes
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6  
        with:
          ref: master

      - name: Set INCLUDE_GIT_REVISION to ON
        run: |
          sed -i 's/set(INCLUDE_GIT_REVISION OFF)/set(INCLUDE_GIT_REVISION ON)/' cmake/Version.cmake
