name: Sync Releases to Codeberg

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository with full history
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git User
        run: |
          git config --global user.email "codebergsync.nzvel@simplelogin.com"
          git config --global user.name "RoundSalmon4"

      - name: Get latest release information
        id: get_latest_release
        run: |
          latest_release=$(curl -s https://api.github.com/repos/${{ github.repository }}/releases/latest)
          echo "tag_name=$(echo $latest_release | jq -r .tag_name)" >> $GITHUB_ENV
          echo "assets_url=$(echo $latest_release | jq -r .assets_url)" >> $GITHUB_ENV

      - name: Download latest release assets
        run: |
          assets_url="${{ env.assets_url }}"
          assets=$(curl -s -H "Accept: application/vnd.github.v3.raw" "$assets_url")
          echo "$assets" | jq -r '.[].url' > asset_urls.txt

          # Download each asset using the token
          while read -r asset_url; do
            curl -L -O -H "Authorization: token $GITHUB_TOKEN" "$asset_url"
          done < asset_urls.txt

      - name: Add downloaded files to Git
        run: |
          git add .

      - name: Clean untracked files
        run: |
          git clean -fd

      - name: Pull changes from Codeberg
        env:
          CODEBERG_TOKEN: ${{ secrets.CODEBERG_TOKEN }}
        run: |
          git remote add codeberg https://$CODEBERG_TOKEN@codeberg.org/unwanted9855/blended-strawberry.git
          git fetch codeberg
          git pull --rebase codeberg master

      - name: Commit and Push
        run: |
          git commit -m "Sync latest release assets" || echo "No changes to commit"
          git push codeberg master
