name: Sync to Codeberg

on:
  push:
    branches:
      - master

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository with full history
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags

      - name: Configure Git User
        run: |
          git config --global user.email "your-email@example.com"
          git config --global user.name "Your Name"

      - name: Push to Codeberg
        env:
          CODEBERG_TOKEN: ${{ secrets.CODEBERG_TOKEN }}
        run: |
          git remote add codeberg https://$CODEBERG_TOKEN@codeberg.org/unwanted9855/blended-strawberry.git
          git fetch codeberg
          git merge codeberg/master --allow-unrelated-histories || true
          git push codeberg master
