name: Copy Release Notes to Codeberg

on:
  workflow_dispatch:  # Trigger manually

permissions:
  contents: read  # Allow action to read from repository
  deployments: write

jobs:
  sync_release_notes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get Releases from GitHub
        id: get_releases
        run: |
          curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/${{ github.repository }}/releases" \
          | jq -r '.[] | select(.prerelease == false) | {tag_name: .tag_name, body: .body}' > releases.json

      - name: Copy Release Notes to Codeberg
        run: |
          for release in $(jq -c '.[]' releases.json); do
            tag_name=$(echo "$release" | jq -r '.tag_name')
            body=$(echo "$release" | jq -r '.body')
            
            echo "Processing release: $tag_name"

            # Check if the release exists on Codeberg
            release_check=$(curl -s -H "Authorization: token ${{ secrets.CODEBERG_TOKEN }}" "https://codeberg.org/api/v1/repos/unwanted9855/blended-strawberry/releases/tags/${tag_name}")

            if [[ $(echo "$release_check" | jq -r '.message') == "The target couldn't be found." ]]; then
              echo "Release $tag_name not found on Codeberg. Skipping..."
              continue
            fi

            echo "Updating release notes for tag: $tag_name"
            update_data="{\"body\":\"${body}\"}"
            update_response=$(curl -s -X PATCH -H "Authorization: token ${{ secrets.CODEBERG_TOKEN }}" -H "Content-Type: application/json" -d "$update_data" "https://codeberg.org/api/v1/repos/unwanted9855/blended-strawberry/releases/tags/${tag_name}")

            echo "Update response for $tag_name: $update_response"
