name: Sync Releases to Codeberg

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository with full history
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Discard uncommitted changes
        run: |
          git reset --hard

      - name: Configure Git User
        run: |
          git config --global user.email "codebergsync.nzvel@simplelogin.com"
          git config --global user.name "RoundSalmon4"

      - name: Get Latest Release Information
        id: get_latest_release
        run: |
          latest_release=$(curl -s https://api.github.com/repos/${{ github.repository }}/releases/latest)
          echo "Latest Release Response: $latest_release"  # Debug: Check the response

          # Check if a release was found
          if [[ "$latest_release" == *"Not Found"* ]]; then
            echo "No releases found."
            exit 0  # Exit if no release is found
          fi

          echo "tag_name=$(echo $latest_release | jq -r .tag_name)" >> $GITHUB_ENV
          echo "assets_url=$(echo $latest_release | jq -r .assets_url)" >> $GITHUB_ENV


      - name: Download Latest Release Assets
        run: |
          latest_release_id=$(echo $latest_release | jq -r .id)
          echo "Latest Release ID: $latest_release_id"

          # Get all release information, including assets
          release_info=$(curl -s -H "Authorization: token $GITHUB_TOKEN" "https://api.github.com/repos/${{ github.repository }}/releases/$latest_release_id")
          echo "Release Info Response: $release_info"  # Debugging: Check the response structure

          # Check if assets are present
          asset_list=$(echo "$release_info" | jq -r '.assets')
          if [ "$asset_list" == "[]" ]; then
            echo "No assets found for this release."
            exit 0  # Exit if no assets are found
          fi

          # Loop through the assets and download each one
          echo "$release_info" | jq -r '.assets[].url' | while read -r asset_url; do
            asset_name=$(basename "$asset_url")
            echo "Downloading asset: $asset_name"
            curl -L -O -H "Authorization: token $GITHUB_TOKEN" "$asset_url"
          done


      - name: Add Downloaded Files to Git
        run: |
          git add .

      - name: Pull Changes from Codeberg
        env:
          CODEBERG_TOKEN: ${{ secrets.CODEBERG_TOKEN }}
        run: |
          git remote add codeberg https://$CODEBERG_TOKEN@codeberg.org/unwanted9855/blended-strawberry.git
          git fetch codeberg
          git merge codeberg/master --allow-unrelated-histories || true

      - name: Force Push to Codeberg
        run: |
          git push --force codeberg master
