name: Sync to Codeberg

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository with full history
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git User
        run: |
          git config --global user.email "codebergsync.nzvel@simplelogin.com"
          git config --global user.name "RoundSalmon4"

      - name: Clean Previous Downloads
        run: |
          echo "Cleaning up previous downloads..."
          rm -f *.dmg *.exe
          
      - name: Remove LFS Tracking
        run: |
          git lfs uninstall
          git lfs prune  # Optional: Clear any cached LFS files

      - name: Push to Codeberg
        env:
          CODEBERG_TOKEN: ${{ secrets.CODEBERG_TOKEN }}
        run: |
          git remote add codeberg https://$CODEBERG_TOKEN@codeberg.org/unwanted9855/blended-strawberry.git
          git fetch codeberg
          git merge codeberg/master --allow-unrelated-histories || true
          git push codeberg master
