name: Sync Releases to Codeberg

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository with full history
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Discard uncommitted changes
        run: |
          git reset --hard

      - name: Configure Git User
        run: |
          git config --global user.email "codebergsync.nzvel@simplelogin.com"
          git config --global user.name "RoundSalmon4"

      - name: Get Latest Release Information
        id: get_latest_release
        run: |
          latest_release=$(curl -s https://api.github.com/repos/${{ github.repository }}/releases/latest)
          echo "Latest Release Response: $latest_release"  # Debug: Check the response

          # Store the release ID in an environment variable
          latest_release_id=$(echo "$latest_release" | jq -r '.id // empty')
          echo "Latest Release ID: $latest_release_id"
          if [ -z "$latest_release_id" ]; then
            echo "No latest release found."
            exit 0
          fi
          
          echo "latest_release_id=$latest_release_id" >> $GITHUB_ENV

      - name: Download Latest Release Assets
        run: |
          # Use the latest_release_id from the previous step
          assets_url="https://api.github.com/repos/${{ github.repository }}/releases/$LATEST_RELEASE_ID/assets"
          echo "Fetching assets from: $assets_url"
          
          # Fetch asset list
          asset_list=$(curl -s -H "Authorization: token $GITHUB_TOKEN" -H "Accept: application/json" "$assets_url")
          echo "Asset List Response: $asset_list"  # Debugging: Check the response structure

          # Extract URLs and download each asset
          echo "$asset_list" | jq -r '.[] | .url' | while read -r asset_url; do
            asset_name=$(basename "$asset_url")
            echo "Downloading asset: $asset_name"
            curl -L -O -H "Authorization: token $GITHUB_TOKEN" "$asset_url"
          done

      - name: Add Downloaded Files to Git
        run: |
          git add .

      - name: Pull Changes from Codeberg
        env:
          CODEBERG_TOKEN: ${{ secrets.CODEBERG_TOKEN }}
        run: |
          git remote add codeberg https://$CODEBERG_TOKEN@codeberg.org/unwanted9855/blended-strawberry.git
          git fetch codeberg
          git merge codeberg/master --allow-unrelated-histories || true

      - name: Force Push to Codeberg
        run: |
          git push --force codeberg master
