name: Sync Releases Notes to Codeberg

on:
  workflow_dispatch:  # Trigger manually

permissions:
  contents: read
  deployments: write

jobs:
  sync_release_notes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get Releases from GitHub
        id: get_releases
        run: |
          all_releases=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/${{ github.repository }}/releases")
          echo "$all_releases" | jq -r '.[] | select(.prerelease == false) | .tag_name' > releases.txt

      - name: Process Releases
        run: |
          while IFS= read -r tag_name; do
            # Check if a release exists on Codeberg
            release_check=$(curl -s -H "Authorization: token ${{ secrets.CODEBERG_TOKEN }}" "https://codeberg.org/api/v1/repos/unwanted9855/blended-strawberry/releases/tags/${tag_name}")

            echo "Checking if release for tag $tag_name exists in Codeberg..."
            if [[ $(echo "$release_check" | jq -r '.message') == "The target couldn't be found." ]]; then
              echo "Release for tag $tag_name does not exist. Skipping..."
              continue
            fi

            echo "Updating release notes for tag: $tag_name"

            # Prepare the payload for the update
            body_data="Version for $tag_name\n\nRelease notes here."
            release_data=$(jq -n --arg tag_name "$tag_name" --arg name "Release $tag_name" --arg body "$body_data" '{tag_name: $tag_name, name: $name, body: $body}')

            echo "Payload for update: $release_data"

            # Send the PATCH request to update the release
            update_response=$(curl -s -X PATCH -H "Authorization: token ${{ secrets.CODEBERG_TOKEN }}" -H "Content-Type: application/json" -d "$release_data" "https://codeberg.org/api/v1/repos/unwanted9855/blended-strawberry/releases/tags/${tag_name}")

            # Log the response for debugging
            echo "Update response for $tag_name: $update_response"
            error_message=$(echo "$update_response" | jq -r '.message // empty')
            if [[ -n $error_message ]]; then
              echo "Error response from Codeberg: $error_message"
            else
              echo "Successfully updated release notes for $tag_name."
            fi
          done < releases.txt
