name: Update from Upstream

on:
  schedule:
    - cron: '0 0 * * *'  # This runs the action every day at midnight UTC
  workflow_dispatch:  # Allows manual triggering of the workflow

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Allow the workflow to write to the repository

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          repository: RoundSalmon4/test
          token: ${{ secrets.GITHUB_TOKEN }}
          path: ./repo

      - name: Change directory to repo
        run: cd ./repo

      - name: Add upstream remote
        run: |
          cd ./repo
          git remote add upstream https://github.com/strawberrymusicplayer/strawberry || echo "Upstream remote already exists."

      - name: Fetch upstream changes
        run: |
          cd ./repo
          git fetch upstream

      - name: Check out master branch
        run: |
          cd ./repo
          git checkout master

      - name: Configure Git user
        run: |
          cd ./repo
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Checkout upstream changes excluding workflows
        run: |
          cd ./repo
          git checkout upstream/master -- . ':!/.github/workflows/*' ':!NOTICE.md'

      - name: Add changes to staging
        run: |
          cd ./repo
          git add .

      - name: Commit changes
        run: |
          cd ./repo
          # Fetch the latest upstream commit message
          UPSTREAM_MESSAGE=$(git log --format=%B -n 1 upstream/master)
          git commit -m "$UPSTREAM_MESSAGE" || echo "No changes to commit."

      - name: Push changes if any
        run: |
          cd ./repo
          git push origin master || echo "Push failed, no changes to push."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
